td, th{
    padding: 5px;
    border: solid black 1px;
}

.no-border{
    border: none;
}

.overlay{
    position: fixed;
    display: none;
    height: 100px;
    width: fit-content;
    top: 50%;
    margin-top: -50px;
    left: calc(var(--variable-width) * 0.5);
    background-color: white;
    border: solid 1px black;
    border-radius: 5px;
    padding: 10px

}